
<div id="main">
        <div>
            <div class="col-md-11" align="center">
            <h2> <b> E-BANKING  WEBSITE </b></h2>
            
                <h3>Welcome {{staffOwn.firstName}} {{staffOwn.lastName}}</h3>
            </div>
                <div  class="col-md-1"><ul class="nav navbar-nav">
                        <li>
                                <a routerLink="/login"> <h5> <b><i> LOGOUT </i></b></h5> </a>
                            </li></ul>
                    </div> 
            
        </div>
             
            <div  class="row"  style="background-color: rgb(218, 175, 175); height: 64.9px;"  >
                <div class="col-md-12"  align="center" id="links"  style="background-color: rgb(218, 175, 175); height: 64.9px;">
                <ul class="nav navbar-nav" style="width: 100%;">
                    <li class="active">
                        <a routerLink="/staff-home"> <h5><b> My Details </b></h5> </a>
                    </li> &nbsp;&nbsp;&nbsp;&nbsp;
                    <li>
                        <a routerLink="/customer-details-staff"> <h5> <b>Customer Details </b></h5> </a>
                    </li>
                    
                    <li>
                            <a routerLink="/loan-details-staff"> <h5><b> Loan Details</b> </h5> </a>
                    </li>
                    <li>
                                <a routerLink="/register"> <h5><b> Add New Customer </b></h5> </a>
                            </li>
                            <li>
                                <a routerLink="/deposit-money"> <h5><b>Deposit Money </b> </h5> </a>
                            </li>
                            <li>
                                <a routerLink="/deduct-money"> <h5><b> Deduct Money </b></h5> </a>
                            </li> 
                             <li>
                                <a routerLink="/add-customer"> <h5> <b>Open New Account </b></h5> </a>
                            </li> 
                            <li>
                             <a routerLink="/cust-account-list-for-staff"> <h5> <b> Bank Accounts </b></h5> </a>
                            </li>       
                    </ul>
                </div>
                
            </div>
                
        
        <div class="row" id="row1">
                <div class="col-md-2" id="img">
                          
                        <table>
                       
                        <tr><td></td></tr>
                        <tr><td></td></tr>
                        <br><br>
                        <tr>
                            <td> <b>First Name: {{staffOwn.firstName}} </b></td>
                        </tr>
                        <br>
                        <tr>
                                <td> <b>Last Name: {{staffOwn.lastName}} </b></td>
                            </tr>
                        </table>
                      
                    </div>
        
                    <div class="col-md-8" id="details">  
                       
                            <div class="container">
                               
                                <legend> <h3> <b> Deposit Money To Customer Account </b></h3> </legend>
                                <form #myForm="ngForm" (ngSubmit)="deposit(myForm)" role="form">
                            <div id="registerDiv">
                                <div class="container">
                                        <div class="row">
                                          <div class="col-sm-4"  style="text-align: end"  > <label for="account_no">Enter Customer Account Number</label> </div>
                                          <div class="col-sm-4"> <input type="text" ngModel class="form-control" placeholder="account number" name="account_no"> </div>
                                        </div>
                                        <br>
                                <div class="row">
                                        <div class="col-sm-4"  style="text-align: end"  > <label for="account_bal">Enter Amount To Be Deposited</label> </div>
                                        <div class="col-sm-4">
                                             <input type="text" ngModel class="form-control" placeholder="amount" name="account_bal">  </div>
                                        </div>
                                              <br>
                                <!-- <div class="row">
                                    <div class="col-sm-2"  style="text-align: end"  > <label for="mobileNo">Mobile No.</label> </div>
                                    <div class="col-sm-4"> 
                                            <input type="text" ngModel class="form-control" placeholder="Enter mobile no" name="mobileNo">
                                          </div>
                                    </div> -->
                                    <br>
                                
                                    <br>
                                </div>
                            </div> 
                             
                            
                            <br>
                            <div align="center">
                                <button type="submit" class="btn btn-primary"> Submit Details </button>
                            
                            </div>
                            </form>
                        </div>
        
        <div id="end" align="center">
                <h5> Terms & Conditions</h5> 
                
                </div>  
        
               