
<div id="main">
    <div>
        <div class="col-md-11" align="center">
        <h2> <b> E-BANKING  WEBSITE </b></h2>
        
            <h3>Welcome {{customer.firstName}} {{customer.lastName}}</h3>
        </div>
            <div  class="col-md-1"><ul class="nav navbar-nav">
                    <li>
                            <a routerLink="/login"> <h5> <b><i> LOGOUT </i></b></h5> </a>
                        </li></ul>
                </div> 
        
    </div>
         
        <div  class="row"  style="background-color: rgb(218, 175, 175); height: 64.9px;"  >
            <div class="col-md-12"  align="center" id="links"  style="background-color: rgb(218, 175, 175); height: 64.9px;">
            <ul class="nav navbar-nav" style="width: 100%;">
                <li class="active">
                    <a routerLink="/user-home"> <h5><b> My Details </b></h5> </a>
                </li> &nbsp;&nbsp;&nbsp;&nbsp;
                <li>
                    <a routerLink="/my-account"> <h5> <b>My Accounts</b></h5> </a>
                </li>
                
                <li>
                        <a routerLink="/money-transfer"> <h5><b> Payments</b> </h5> </a>
                </li>
                <li>
                            <a routerLink="/loan"> <h5><b>Apply For Loan </b></h5> </a>
                        </li>
                        <li>
                            <a routerLink="/loan-list-customer"> <h5><b>Applied Loan</b> </h5> </a>
                        </li>
                       
                             
                </ul>
            </div>
            
        </div>
        

    
    <div class="row" id="row1">
          
            <div class="col-md-10" id="details" align="center" >    
                <div class="col-md-3" id="home">
                        <h2> Home Loan</h2>
                    <p> 
                        Minimum Salary: 30000
                        Age	23 to 55 years
                       
                        Employment	Salaried, 
                        employed with an MNC, 
                        public, or private company
                        Nationality	Indian resident
                      
                    </p>
                    <div align="center">
                        <br>
                      <button type="submit" class="btn btn-primary" routerLink="/loan-home">Apply Here</button>        
                  </div>
                    </div>
                <div class="col-md-3" id="education" >
                        <h2> Education Loan</h2>
                        <p> 
                            Minimum Salary: 30000
                            Age	23 to 55 years
                           
                            Employment	Salaried, 
                            employed with an MNC, 
                            public, or private company
                            Nationality	Indian resident
                          
                        </p>
                        <div align="center">
                            <br>
                          <button type="submit" class="btn btn-primary" routerLink="/loan-education">Apply Here</button>        
                      </div>
                 </div>
                <div class="col-md-3" id="personal" >
                        <h2> Personal Loan</h2>
                        <p> 
                            Minimum Salary: 30000
                            Age	23 to 55 years
                           
                            Employment	Salaried, 
                            employed with an MNC, 
                            public, or private company
                            Nationality	Indian resident
                          
                        </p>
                        <div align="center">
                            <br>
                          <button type="submit" class="btn btn-primary" routerLink="/loan-personal">Apply Here</button>        
                      </div>
                        </div>
                        
            </div>
            <br><br><br>
            
        
                    
    
    </div>
    
    </div>
    
    <div id="end" align="center">
            <h5> Terms & Conditions</h5> 
            
            </div>  
    
           
             