
<div id="main">
        <div>
            <div class="col-md-11" align="center">
            <h2> <b> E-BANKING  WEBSITE </b></h2>
            
                <h3>Welcome {{customer.firstName}} {{customer.lastName}}</h3>
            </div>
                <div  class="col-md-1"><ul class="nav navbar-nav">
                        <li>
                                <a routerLink="/login"> <h5> <b><i> LOGOUT </i></b></h5> </a>
                            </li></ul>
                    </div> 
            
        </div>
             
            <div  class="row"  style="background-color: rgb(218, 175, 175); height: 64.9px;"  >
                <div class="col-md-12"  align="center" id="links"  style="background-color: rgb(218, 175, 175); height: 64.9px;">
                <ul class="nav navbar-nav" style="width: 100%;">
                    <li class="active">
                        <a routerLink="/user-home"> <h5><b> My Details </b></h5> </a>
                    </li> &nbsp;&nbsp;&nbsp;&nbsp;
                    <li>
                        <a routerLink="/my-account"> <h5> <b>My Accounts</b></h5> </a>
                    </li>
                    
                    <li>
                            <a routerLink="/money-transfer"> <h5><b> Payments</b> </h5> </a>
                    </li>
                    <li>
                                <a routerLink="/loan"> <h5><b>Apply For Loan </b></h5> </a>
                            </li>
                            <li>
                                <a routerLink="/loan-list-customer"> <h5><b>Applied Loan</b> </h5> </a>
                            </li>
                                 
                    </ul>
                </div>
                
            </div>
            
    
    
    <div class="row">
            <div class="col-md-2">
                          
                    <table>
                    
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <br><br>
                   <tr>
                        <td> <b>First Name: {{customer.firstName}} </b></td>
                    </tr>
                    <br>
                    <tr>
                            <td> <b>Last Name: {{customer.lastName}} </b></td>
                        </tr>
                    </table>
                  
                </div>
        
        <div class="row" class="col-md-10">       
                <div>
                        <legend> <h3><b>Account Details</b> </h3> </legend>
                    <table class="table table-responsive" style="border: black">
                                <thead>
                                        <th>Account Number</th>
                                        <th>Name</th>
                                        <th>Acount Type</th>
                                        <th>Opened On</th>
                                        <th>Balance</th>
                                        <th>Bank Address</th>
                                        <th>Bank IFSC</th>
                                </thead>
                                <br>
                                
                                
                                

                                <tr *ngFor="let emp of custAccountData">
                                        <td>{{emp.account_no}}</td>
                                        <td>{{emp.acc_holder_name}}</td>
                                        <td>{{emp.acctype}}</td>
                                        <td>{{emp.opening_date}}</td>
                                        <td>{{emp.account_bal}}</td>
                                        <td>{{emp.bank_add}}</td>
                                        <td>{{emp.ifsc}}</td>
                                        
                                        
                                        <!-- <td>
                                        <button type="button" (click)="delete(emp.id)"class="btn btn-danger">Delete</button>
                                        </td>
                                        <td>
                                            <button type="button" routerLink="/update/{{emp.id}}" class="btn btn-warning">Update</button>
                                        </td> -->
                                      </tr>
                            </table>     

        
        
                    
    
    </div>
      
    </div>
    
    <div id="end" align="center">
            <h5> Terms & Conditions</h5> 
            
            </div>  
    
           
             